.career-tabs {
	padding-top: 5rem;
	padding-bottom: 1.7rem;
	.tabs-title:not(.is-active) a {
		color: $white;
	}
	.tabs-content {
		color: $white;
		h2 {
			margin-bottom: 1.35rem;
		}
		p {
			font-size: rem-calc(22);
			line-height: 1.4; 
			margin-bottom: 0;
		}
		.btn-wrap {
			padding-top: 3rem;
		}
	}
}