footer.footer {
	padding-top: 3.35rem;
	.footer-logo {
		max-width: 172px;
		margin: auto;
		padding-bottom: 1rem;
		text-align: center;
		@include breakpoint(medium) {
			max-width: 207px;
			margin: 0;
			padding-bottom: 3.4rem;
			text-align: left;
		}
	}
	.address {
		padding-bottom: 0.3rem;
		a {
			display: block;
		}
	}
	#footer-links {
		@include breakpoint(small down) {
			padding-bottom: 4.15rem;
		}
		li {
			flex: 0 0 100%;
			text-align: center;
			margin-bottom: 0.2rem;
			@include breakpoint(medium) {
				text-align: left;
				margin: 0.5rem 0 0.75rem;
				flex: 0 0 50%;
			}
			@include breakpoint(tablet) {
				flex: 0 0 33.333%;
			}
			a {
				display: inline-block;
				text-transform: uppercase;
				color: $white;
				line-height: 1.25;
				font-weight: 600;
				@include breakpoint(medium) {
					font-weight: 800;
				}
				
				&:hover {
					color: $primary-dark;	
				}
				span {
					display: inline-block;
					position: relative;
					&:after {
						content: '';
						display: block;
						width: 100%;
						background-color: transparent;
						height: 2px;
					}
				}
			}
		// &.current-menu-item {
		// 	a span:after {
		// 		background-color: $white;
		// 	}	
		// }
		}
	}
	p.address,
	p.email-phone {
		@include breakpoint(small down) {
			text-align: center;
		}
	}
	.social-links-wrap.mobile {
		padding-top: .55rem;
		.menu {
			justify-content: center;
		}	
	}
	.post-footer {
		padding-top: 1.45rem;
		padding-bottom: 1.18rem;
		@include breakpoint(small down) {
			p {
				text-align: center;
			}	
		}
		@include breakpoint (medium) {
			padding-top: 2.2rem;
			padding-bottom: 3.18rem;
		}
	}
}