body .form-wrap {
	padding-top: 2.8rem;
	.gform_wrapper.gravity-theme {
		padding-top: 3.2rem;
		.gform_fields {
			grid-row-gap: 26px;
		}
		.ginput_complex label,
		.ginput_complex legend,
		.gfield_label {
			font-style: normal;
			font-weight: 600;
			font-size: rem-calc(18);
			line-height: 1.4;
			margin-bottom: 0.4rem;	
			padding-left: 1px;
		}
		input:not([type="submit"]),
		select,
		textarea {
			border: 1px solid #DEE2E6;
			min-height: 50px;
		}
		.gform_footer {
			padding-top: 3.55rem;
			padding-bottom: 4.8rem;
			text-align: right;
		}
	}
	@media (max-width: 640px) {
		.gform_wrapper.gravity-theme .ginput_complex span:nth-child(1) {
			margin-bottom: 21px;
		}
		.gform_wrapper.gravity-theme .ginput_complex span:nth-child(2) {
			margin-bottom: 0;
		}
	}
}