body .form-wrap {
	padding-top: 2.8rem;
	.gform_wrapper.gravity-theme {
		padding-top: 3.2rem;
		.gform_fields {
			grid-row-gap: 26px;
		}
		.ginput_complex label,
		.ginput_complex legend,
		.gfield_label {
			font-style: normal;
			font-weight: 600;
			font-size: rem-calc(18);
			line-height: 1.4;
			margin-bottom: 0.4rem;	
		}
		input:not([type="submit"]),
		select,
		textarea {
			border: 1px solid #DEE2E6;
			min-height: 50px;
		}
		.gform_footer {
			padding-top: 3.55rem;
			padding-bottom: 4.8rem;
			text-align: right;
		}
	}
}