body.logged-in.admin-bar {
	header.header {
		top: 46px;
		@media screen and (min-width: 783px) {
			top: 32px;
		}
	}
	
	ul#offcanvas-nav {
		position: relative;
		@media screen and (min-width: 783px) {
			top: 32px;
		}
	}
}
header.header {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	transition: transform .5s ease;
	padding: 1.1rem 1rem;
	@include breakpoint(large) {
		padding-right: 0;
	}
	@include breakpoint(xlarge) {
		padding: 0 0 0 2.6rem;
	}
	
	.top-bar-wrap {
		padding-right: 0;
		background-color: $topbar-background;
	}
	
	#top-bar-menu {		
		@include breakpoint(tablet) {

		}
		
		.top-bar-left {
			max-width: 160px;
			
			@include breakpoint(medium) {
				max-width: 100%;
			}
			
		}
		
		li.logo {
			max-width: 119px;
			@include breakpoint(medium) {
				max-width: 160px;
			}
			@include breakpoint(xlarge) {
				max-width: 207px;
			}
			
			&.desktop {
				a {
					padding: 0;
					display: inline-block;
					position: relative;
				}
			}
			
		}
			
		#main-nav {
			align-items: center;
			>li {
				margin: 0;
				
				a {
					color: $white;
					text-transform: uppercase;
					font-weight: 800;
					line-height: 1.25;
					@include breakpoint(large) {
						padding: 1.9rem 1rem 1.25rem;
					}
					@include breakpoint(xlarge) {
						padding: 2.3rem 1.7rem 1.7rem;
					}					
					@include breakpoint(xxlarge) {
						padding: 3.15rem 2.6rem 2.6rem;
					}
					span {
						display: inline-block;
						position: relative;
						&:after {
							content: '';
							display: block;
							width: 100%;
							background-color: transparent;
							height: 2px;
						}
					}
				}
				
			&.current-menu-item {
				a span:after {
					background-color: $white;
				}	
			}
				
			&.green-button-link a {
				background-color: $primary;
			}
				
			&.menu-item-has-children {
				margin-top: -.4rem;
				margin-bottom: 0;
			
				a {
					padding-right: 2.28rem;
					
					&:after {
						right: 12px;
						width: 10px;
						height: 5px;
						border: 0;
						background-size: contain;
					    background-position: center;
					    background-repeat: no-repeat;						
// 						background-image: url(../images/chev-down-white.svg);
					}
					
				}
				
				ul.submenu {
					li {
						a {

							
						&:hover {

						}
							
						}
						
					}
				}
	
			}
							
			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 37px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 6px;
				    right: 0;
				    width: 25px;
				    height: 2px;
					border-radius: 2px;
				    background-color: $white;
				    transition: all .5s ease;
					
				    &:nth-child(1) {
					    top: 9px;
				    }

				    &:nth-child(2) {
					    top: 17px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 9px;
				    }
				    				    
			    }
				
			&[aria-expanded="true"] {
				span {
					&:nth-child(1) {
						transform: rotate(45deg) translate(5px, 6px);
					}
					&:nth-child(2) {
						width: 0;
						left: 50%;
					}
					&:nth-child(3) {
						transform: rotate(-45deg) translate(5px, -6px);
					}
				}
			}
			    
		    }
		    
		}
	
	}
	
}

// Off canvas mods
body {
	#off-canvas {
		background-color: #808080;
		display: none;
		min-height: 100vh;
		ul#offcanvas-nav.menu {
			padding-top: 112px;
			background-color: $secondary;
			.active>a,
			.menu .is-active>a {
				color: $white;
			}
			li {
			&:not(.green-button-link) {
				margin: 0.45rem 0;				
			}
			&.green-button-link {
				margin-top: 2.9rem;
				a {
					background-color: $primary;
					color: $white;
					padding-top: 1.2rem;
				}
			}
				a {
					color: $white;
					font-size: rem-calc(24);
					line-height: 1.15;
					text-transform: uppercase;
					text-align: center;
				}
				span {
					display: inline-block;
					position: relative;
					&:after {
						content: '';
						display: block;
						margin-top: 0.4rem;
						width: 100%;
						background-color: transparent;
						height: 2px;
					}
				}
			&.current-menu-item {
				a span:after {
					background-color: $white;	
				}
			}
			}
		}
	}
	.off-canvas,
	.off-canvas.position-top,
	.off-canvas.is-transition-push,
	.off-canvas.is-open,
	.off-canvas.is-closed {
		transform: translateY(0px);
	}
	.off-canvas-content .off-canvas.position-top, .position-top {
		transform: translateY(0px);
	}
	.js-off-canvas-overlay {
		display: none !important;
	}
	.off-canvas-content.is-open-top.has-transition-push {
		transform: translateY(0);
	}
}

