body.logged-in {
	header.header {
		top: 32px;
	}
}
header.header {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
	transition: transform .5s ease;
	
	.top-bar-wrap {
		padding-right: 0;
		background-color: $topbar-background;
	}
	
	#top-bar-menu {		
		@include breakpoint(tablet) {

		}
		
		.top-bar-left {
			max-width: 160px;
			
			@include breakpoint(medium) {
				max-width: 100%;
			}
			
		}
		
		li.logo {
			
			&.desktop {
				a {
					padding: 0;
					display: inline-block;
					position: relative;
				}
			}
			
		}
			
		#main-nav {
			align-items: center;
			>li {
				margin: 0;
				
				a {
					color: $white;
					text-transform: uppercase;
					font-weight: 800;
					line-height: 1.25;
					@include breakpoint(large) {
						padding: 1.9rem 1rem 1.25rem;
					}
					@include breakpoint(xlarge) {
						padding: 2.3rem 1.7rem 1.7rem;
					}					
					@include breakpoint(xxlarge) {
						padding: 3.15rem 2.6rem 2.6rem;
					}
				}
				
			&.green-button-link a {
				background-color: $primary;
			}
				
			&.menu-item-has-children {
				margin-top: -.4rem;
				margin-bottom: 0;
			
				a {
					padding-right: 2.28rem;
					
					&:after {
						right: 12px;
						width: 10px;
						height: 5px;
						border: 0;
						background-size: contain;
					    background-position: center;
					    background-repeat: no-repeat;						
// 						background-image: url(../images/chev-down-white.svg);
					}
					
				}
				
				ul.submenu {
					li {
						a {

							
						&:hover {

						}
							
						}
						
					}
				}
	
			}
							
			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
			    
		    }
		    
		}
	
	}
	
}