.icon-text-cards {
	padding-top: 3.55rem;
	padding-bottom: .5rem;
	.single-card {
		.inner {
			max-width: 350px;
			margin: 0 auto 3.5rem;
			.icon-wrap {
				margin-bottom: 1.4rem;
			}
			h5 {
				margin-bottom: 0.7rem;
			}
			a span {
				margin-right: .7rem;
			}
		}
		.icon-wrap {
			min-height: 74px;
		}
	}
}