.page-banner {
	min-height: 280px;
	@include breakpoint(medium) {
		min-height: 400px;
	}
	.inner {
		padding-top: 3rem;
		padding-bottom: 2rem;
		@include breakpoint(medium) {
			padding-top: 4rem;
		}
	}
}