.resources {
	padding-top: 3.2rem;
	.grid-card {
		.inner {
			padding: 1.5rem 1.3rem;
			.date {
				padding-bottom: 0.8rem;
				color: #6C757D;
			}
			.bottom {
				padding-top: 1.65rem;
				padding-bottom: 1.05rem;
				color: $primary;
				span {
					display: inline-block;
					margin-right: 0.6rem;
				}
			}
		}
	}
}