.testimonials {
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	overflow: hidden;
	.left {
		padding-top: 3.4rem;
		position: relative;
		z-index: 2;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: $secondary;
			width: 50vw;
			left: -50vw;
		}
		.inner {
			max-width: 380px;
		}
		nav {
			padding-top: 2.7rem;
			padding-bottom: 2rem;
			.swiper-button-prev {
				margin-right: 1.3rem;
			}
		}
	}
	.testimonial-slider {
		max-width: 630px;
		.swiper-slide {
			border-radius: 5px;
			.inner {
				padding: 3.3rem 5rem 3.15rem;
			}
			.img-wrap {
				margin-top: 2.1rem;
				border-radius: 100%;
				overflow: hidden;
				max-width: 106px;
			}
		}
	}
}