.testimonials {
	padding-top: 0;
	padding-bottom: 3.75rem;
	@include breakpoint(medium) {
		padding-top: 3.75rem;
	}
	overflow: hidden;
	.left {
		padding-top: 3.4rem;
		position: relative;
		z-index: 2;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: $secondary;
			width: 50vw;
			left: -50vw;
		}
		.inner {
			max-width: 380px;
		}
		nav {
			padding-top: 2.7rem;
			padding-bottom: 2rem;
			> div {
				cursor: pointer;
				svg path {
					transition: fill .3s ease;
				}
				&:hover {
					svg path {
						fill: $primary-light;
					}
				}
			}
			.swiper-button-prev {
				margin-right: 1.3rem;
			}
		}
	}
	.testimonial-slider {
		max-width: calc(100% - 42px);
		@include breakpoint(medium) {
			max-width: 500px;
		}
		@include breakpoint(large) {
			max-width: 630px;
		}
		.swiper-slide {
			border-radius: 5px;
			.inner {
				padding: 1.65rem 1.5rem 1.7rem;
				@include breakpoint(medium) {
					padding: 3.3rem 5rem 3.15rem;
				}
			}
			.img-wrap {
				border-radius: 100%;
				overflow: hidden;
				max-width: 106px;
				@include breakpoint(medium) {
					margin-top: 2.1rem;
				}
			}
		}
	}
}