.two-col-ctas {
	padding-top: 5.05rem;
	padding-bottom: 5rem;
	.single-cta {
		margin-bottom: 3rem;
		.inner {
			@include breakpoint(small down) {
				max-width: 370px;
				margin: auto;
			}
		}
		.left {
			margin-bottom: 1.5rem;
		}
	}
}